.main-nav {
    position: fixed;
    width: 100%;
    
    & li {
        list-style-type: none;
    }

    & h2 {
        font-weight: normal;
        text-align: center;
    }
    &.top-nav {
        padding-bottom: 25px;
        top: 0;
        z-index: 1;
        
        #about-page & {
            background-color: $yellow-bg;
        }
    }
    &.bottom-nav {
        bottom: 0;
    }
}

.page-content {
    margin-top: 100px;
    padding: 25px;

    @include mq('tablet'){
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}

#about-page {
    background-color: $yellow-bg;
}

    