/* BUTTONS */
.nav-btn {
    display: block;
    width: 60px;
    height: 60px;

    border-radius: 15px;

    .home-nav & {
        width: 85px;
        height: 80px;
        
        @include mq('tablet'){
            width: 100px;
            height: 100px;
        }
    }

    &.isSelected {
        background-color: #F8F8F8 !important; 
        box-shadow: inset 4px 4px 6px 1px #9B9B9B !important;
    }
    @include mq('tablet'){
        width: 80px;
        height: 80px;
    }
}

.nav-about {
    position: absolute;
    top: 20px;
    left: 20px;

    .home-nav & {
        top: 75px;
        left: 20px;

        @include mq('tablet'){
            top: 120px;
            left: 100px;
        }
        @include mq('tablet-wide'){
            top: 150px;
            left: 150px;
        }
    }
    & .nav-btn {
        background-color: $yellow;
        box-shadow: inset -7px -7px 2px $yellow-i;
        // Btn onClick
        &:active {
            box-shadow: inset -4px -2px 2px $yellow-i;
        }
    }
}

.nav-portfolio {
    position: absolute;
    top: 20px;
    right: 20px;

    .home-nav & {
        top: 75px;
        right: 20px;
        @include mq('tablet'){
            top: 120px;
            right: 100px;
        }
        @include mq('tablet-wide'){
            top: 150px;
            right: 150px;
        }
    }
    & .nav-btn {
        background-color: $green;
        box-shadow: inset -7px -7px 2px $green-i;
        &:active {
            box-shadow: inset -4px -2px 2px $green-i;
        }
    }
}

.nav-contact {
    position: absolute;
    bottom: 20px;
    left: 20px;

    .home-nav & {
        bottom: 75px;
        left: 20px;
        @include mq('tablet'){
            bottom: 120px;
            left: 100px;
        }
        @include mq('tablet-wide'){
            bottom: 150px;
            left: 150px;
        }
    }
    & .nav-btn {
        background-color: $red;
        box-shadow: inset -7px -7px 2px $red-i;
        &:active {
            box-shadow: inset -4px -2px 2px $red-i;
        }
    }
}

.nav-resume {
    position: absolute;
    bottom: 20px;
    right: 20px;

    .home-nav & {
        bottom: 75px;
        right: 20px;
        @include mq('tablet'){
            bottom: 120px;
            right: 100px;
        }
        @include mq('tablet-wide'){
            bottom: 150px;
            right: 150px;
        }
    }
    & .nav-btn {
        background-color: $blue;
        box-shadow: inset -7px -7px 2px $blue-i;
        &:active {
            box-shadow: inset -4px -2px 2px $blue-i;
        }
    }
}

/* LOGO */
.logo-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 94px;
    
    .home-nav & {
        // Horizontally and Vertically Center
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        @include mq('tablet'){
            width: 300px;
        }
    }
    @include mq('tablet'){
        width: 130px;
    }
}

.prj-container {
    position: relative;
    display: block;
    padding-bottom: 25px;
    width: 100%;
    overflow: hidden;

    @include mq('tablet'){
        float: left;
        width: 50%;
    }
}

.prj-overlay {
    
}

.prj-tag {
    position: absolute;
    padding: 10px 15px;
    top: 0;
    left: 0;

    background-color: $blue;
    color: #fff;

    & h1 {
        margin: 0;
        @include font-size(16);
    }
}